<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="fragments/common :: common_header(~{::title},~{::link})">
<title>Edit User</title>
</head>
<body>
	<div class="nav-btn">
		<form th:replace="~{fragments/common :: admin-home-button}"></form>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" th:action="@{/admin/editUser}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">

					<h2 class="user-form-header" th:text="|Edit user: *{email}|"></h2>

					<input type="hidden" th:field="*{id}" th:value="*{id}">

					<div class="form-group">
						<div class="col-sm-9">
							<input type="hidden" th:field="*{email}" placeholder="Email"
								class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{firstName}"
								placeholder="First Name" class="form-control" required
								pattern="(^[A-Z][a-z]{1,12}$)"
								title="Start typing your name with a capital letter. 
									Minimum 2 maximum 13 Latin characters." />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{lastName}" placeholder="Last Name"
								class="form-control" required pattern="(^[A-Z][a-z]{1,12}$)"
								title="Surname start typing with a capital letter. 
									Minimum 2 maximum 13 Latin characters." />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:field="*{password}"
								placeholder="Password" class="form-control" name="password"
								pattern=".{5,}" title="5 characters minimum" />
							<p class="opacity-background-lbl" id="lbl-pass">If you do not
								want to change the password, do not enter anything.</p>
						</div>
					</div>

					<ul class="opacity-background">
						<li th:each="role : ${roles}" class="radio-inline"><input
							type="radio"
							th:checked="${role.role == userRole.role ? true : false}"
							th:name="role" th:value="${role.role}" /> <label
							th:text="${role.role}"></label></li>
					</ul>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">
								Save Changes</button>
						</div>
					</div>

					<h2>
						<span class="opacity-background-for-msg" id="e-u-success-msg"
							th:text="${successMessage}"> </span>

						<script th:if="${successMessage != null}" th:inline="javascript">
							let modify = document
									.getElementById('e-u-success-msg');

							modify.style.display = "inline-block";

							setTimeout(function() {
								modify.style.display = "none";
								location.href = "home";
							}, 1500);
						</script>
					</h2>

				</form>
			</div>
		</div>
	</div>

</body>
</html>