<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: common_header(~{::title},~{::link})">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
</head>
<body>

	<div class="nav-btn">
		<div id="greeting">
			<span th:text="${greeting}"></span>
		</div>

		<form class="form-btn" th:action="@{/admin/addUser}" method="get">
			<button class="user-btn" id="add-new-user-btn" type="Submit">Add
				new user</button>
		</form>

		<form th:replace="~{fragments/common :: logout-button}"></form>
	</div>

	<div class="container" id="table-wrapper">
		<table>
			<thead class="opacity-background-for-th">
				<tr>
					<th class="text" width="100px]">Active</th>
					<th class="text">Email</th>
					<th class="text">First name</th>
					<th class="text">Last name</th>
					<th class="text">Role</th>
					<th class="text">Actions</th>
				</tr>
			</thead>
			<tbody class="opacity-background-for-td">
				<tr th:each="user : ${users}">
					<td id="td-active-btn">
						<form class="user-btn-form" th:action="@{/admin/activity}"
							method="post">
							<input id="imp-act-btn" class="active-btn" type="image"
								alt="active/inactive"
								th:src="@{(${user.active == 0}) ? '/images/inactive.png' : '/images/active.png'}">
							<input th:name="email" type="hidden" th:value="${user.email}">
						</form>
					</td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.firstName}"></td>
					<td th:text="${user.lastName}"></td>
					<td><span th:each="role, state : ${user.roles}"
						th:text="${role.role} + ${(state.count != state.size) ? ', ' : ''}"></span></td>
					<td>
						<form class="user-btn-form" th:action="@{/admin/edit}"
							method="post">
							<input class="edit-btn" type="image" alt="Edit user"
								th:src="@{/images/pencil-blue.png}" width="55px" height="35px">
							<input th:name="email" type="hidden" th:value="${user.email}">
						</form>

						<form id="form-dlt" class="user-btn-form"
							th:action="@{/admin/delete}" method="post">
							<input class="delete-btn" type="image" alt="Delete user"
								th:src="@{/images/green-recycle-bin.png}" width="65px"
								height="35px"> <input th:name="email" type="hidden"
								th:value="${user.email}"></input>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script th:src="@{/js/addsEventListenersForUserButtons.js}"></script>
</body>
</html>