@charset "UTF-8";

th, td {
	border: 1px solid black;
	font-size: 1.3em;
	font-family: monospace;
}

#table-wrapper table {
	width: 100%;
}

#table-wrapper table * {
	color: black;
}

#table-wrapper table thead th .text {
	position: absolute;
	top: -20px;
	z-index: 2;
	height: 20px;
	width: 35%;
	border: 1px solid red;
}

.td-del-btn {
	border: 0;
}

.user-btn-form {
	display: inline;
}

#form-dlt {
	margin-left: -21px;
}

#td-active-btn {
	width: 50px;
}

#imp-act-btn {
	width: 20px;
	height: 20px;
	margin-left: 30%;
}
