@charset "UTF-8";


body {
	background: url("/images/background-pages.jpg") no-repeat
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.nav-btn {
	opacity: 0.7;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	background-color: black;
}

.form-btn {
	display: inline-flex;
}

.user-btn {
	color: #000000;
	background-color: #4979e4;
	border: none;
	padding: 1em 2em;
	font-size: 1.25em;
	clear: both;
	color: #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-ms-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
	cursor: pointer;
}

#greeting {
	display: inline-flex;
	margin-right: 5%;
	font-size: 2em;
	color: #1b4cab;
}

button:focus#add-new-user-btn, button:hover#add-new-user-btn {
	background: #07cc04;
}

button:focus#add-new-operation-btn, button:hover#add-new-operation-btn {
	background: #07cc04;
}

button:focus#logout-btn, button:hover#logout-btn {
	background: #d80606;
}

button:focus#go-to-home-btn, button:hover#go-to-home-btn {
	background: #07cc04;
}

.validation-message {
    font-style: normal;
    font-size: 12px;
    color: #FF1C19;
}

#e-u-success-msg {
	color: #07cc04;
}

#a-u-success-msg {
	color: #07cc04;
}

#lbl-pass {
	margin-top: 0.5em;
	color: #fb8011;
}

#a-u-email-err-msg {
	font-style: normal;
    font-size: 0.7em;
    color: #FF1C19;
}

.user-form-header {
	color: white;
}

.opacity-background {
	background-color: blue;
	border-radius: 25px;
	opacity: 0.7;
	color: white;
}